.main {
    display: flex;       
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;      
    margin: 0 auto;
    padding: 40px 20px;
    gap: 40px;               
}

.main aside {
    width: 300px;
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.main__fist-feature {
    display: flex;
}

.main__aside-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}
.main__aside-text {
    max-width: 200px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border: 2px solid #2196F3;
    border-radius: 18px; 
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 2px;
    background-color: #2196F3;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #fff;
}

input:checked + .slider:before {
    transform: translateX(32px);
}

.main__aside-separator {
    border-bottom: 2px solid #ccc;
    margin: 15px 0;
}

.main__aside-count-button {
    display: block;     
    margin: 20px auto;
    padding: 10px 45px;
    background-color: #2196F3;
    color: #fff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.main__aside-price-feature {
    display: flex;
}

.main__aside-price {
    margin-left: 120px;
}

.shoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    flex: 1;
}

.shoes .shoe-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
}

.shoe-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
    text-align: center;
    width: 250px;
}

.shoe-card img.shoe-img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
}
